h1 {
  text-align: center;
}
.resetButton {
  position: fixed;
  top: 0;
  left: 0;
}
.slider {
  /*background-image: url("../images/landscape2.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
  border: 1px solid black;
  height: 77vh;
  width: 77vw;
  background-color: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}
.round {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: -40px;
  margin-right: 4px;
  opacity: 0.8;
}

.black {
  background-color: black;
}
.white {
  background-color: white;
}
